:root {
  --blur: 10px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(var(--blur));
  z-index: 2;
  text-align: center;
}

.container {
  display: flex;
  margin: 60px 10px 10px 10px;
}

aside {
  width: 25%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(var(--blur));
  z-index: 1;
}

div#content {
  width: 75%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(var(--blur));
  z-index: 1  ;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

nav {
  display: flex;
  flex-direction: column;
}

nav a {
  display: block;
  padding: 5px 0;
  text-decoration: none;
  color: #000;
}

nav a:hover {
  text-decoration: underline;
}

#error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(var(--blur));
  z-index: 1;
}

.hidden {
  display: none;
}
